<footer class="footer" style="background-color: #34495e; color: #000000; padding: 40px 0; text-align: center; position: relative; width: 100%; box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <h5 class="mb-3" style="color: #000000;">Haribaksh Careers</h5>
                <p class="mb-0">Connecting skilled professionals with top IT companies for mutually beneficial success.</p>
            </div>
            <div class="col-md-6">
                <h5 class="mb-3" style="color: #000000;">Contact Us</h5>
                <p>Email: <a href="mailto:Jatinsunaliyap@gmail.com" style="color: #000000;">Jatinsunaliyap@gmail.com</a></p>
                <p>Phone: <span style="color: #000000;">+91-7878520487</span></p>
            </div>
        </div>
        <hr style="border-top: 1px solid #000000;">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#" style="color: #000000;">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" style="color: #000000;">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" style="color: #000000;">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" style="color: #000000;">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p class="mb-0">&copy; 2024 Haribaksh Careers. All rights reserved.</p>
    </div>
</footer>

<!-- Font Awesome for social media icons -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
